{% if document_webfont_css_output_license_text is defined %}
{{ document_webfont_css_output_license_text | comment('cblock') }}
{% endif %}
{% for document_webfont_file in document_webfont_files if document_webfont_file.css is defined %}
{% set font_file = document_webfont_file.output_file | default(document_webfont_file.src | basename) %}
{% set file_name = font_file[:-4] %}
@font-face {
{% if document_webfont_file.css.comment is defined %}
  /* {{ document_webfont_file.css.comment }} */
{% endif %}
  font-family: '{{ document_webfont_file.css.family }}', monospace;
  src:
    url('{{ document_asset_font_dir | relpath(document_asset_css_dir) }}/{{ file_name }}.woff2') format('woff2'),
    url('{{ document_asset_font_dir | relpath(document_asset_css_dir) }}/{{ file_name }}.woff') format('woff'),
{% if font_file.endswith('.ttf') %}
    url('{{ document_asset_font_dir | relpath(document_asset_css_dir) }}/{{ font_file }}') format('truetype');
{% elif font_file.endswith('.otf') %}
    url('{{ document_asset_font_dir | relpath(document_asset_css_dir) }}/{{ font_file }}') format('opentype');
{% endif %}
  font-style: {{ document_webfont_file.css.style | default(document_webfont_css_default.style) }};
  font-weight: {{ document_webfont_file.css.weight | default(document_webfont_css_default.weight) }};
  font-display: {{ document_webfont_file.css.display | default(document_webfont_css_default.display) }};
}
{% endfor %}

