[mysql]
auto-rehash

[client]
database={{ redmine_database[redmine_env].database }}
user={{ redmine_database[redmine_env].username }}
password={{ redmine_database[redmine_env].password }}
host={{ redmine_database[redmine_env].host }}
default-character-set={{ redmine_database[redmine_env].encoding }}
